.main {
    position: absolute;
    left: 220px;
    top: 100px;
    right: 0;
    bottom: 0;
}

.red {
    font-size: 36px;
    color: red;
}

#heart {
    width: 100px;
    height: 100px;
}

#heart:hover {
    background-color: grey;
    cursor: pointer;
}

.map {
    position: absolute;
    left: 480px;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
}